-- CreateEnum
CREATE TYPE "payment_room_payment_method" AS ENUM ('bank_transfer', 'promptpay');

-- CreateEnum
CREATE TYPE "payment_banquet_payment_method" AS ENUM ('bank_transfer', 'promptpay');

-- CreateEnum
CREATE TYPE "payment_room_payment_status" AS ENUM ('unpaid', 'pending', 'confirmed', 'rejected');

-- CreateEnum
CREATE TYPE "payment_banquet_payment_status" AS ENUM ('unpaid', 'pending', 'confirmed', 'rejected');

-- CreateEnum
CREATE TYPE "banquet_room_status" AS ENUM ('available', 'occupied', 'maintenance');

-- CreateEnum
CREATE TYPE "room_status" AS ENUM ('available', 'occupied', 'maintenance');

-- CreateEnum
CREATE TYPE "reservation_room_status" AS ENUM ('pending', 'confirmed', 'cancelled', 'checked_in', 'checked_out');

-- CreateEnum
CREATE TYPE "reservation_banquet_status" AS ENUM ('pending', 'confirmed', 'cancelled', 'completed');

-- CreateTable
CREATE TABLE "bank_account" (
    "bank_account_id" SERIAL NOT NULL,
    "bank_name" TEXT NOT NULL,
    "account_name" TEXT NOT NULL,
    "account_number" TEXT NOT NULL,
    "promptpay_id" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bank_account_pkey" PRIMARY KEY ("bank_account_id")
);

-- CreateTable
CREATE TABLE "admin" (
    "admin_id" SERIAL NOT NULL,
    "username" VARCHAR(50) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "full_name" VARCHAR(100),
    "email" VARCHAR(100),
    "phone" VARCHAR(20),
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_pkey" PRIMARY KEY ("admin_id")
);

-- CreateTable
CREATE TABLE "banquet_room" (
    "banquet_id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "capacity" INTEGER NOT NULL,
    "price_per_hour" DECIMAL(10,2) NOT NULL,
    "status" "banquet_room_status" DEFAULT 'available',
    "description" TEXT,
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "banquet_room_pkey" PRIMARY KEY ("banquet_id")
);

-- CreateTable
CREATE TABLE "banquet_image" (
    "image_id" SERIAL NOT NULL,
    "banquet_id" INTEGER NOT NULL,
    "image_url" VARCHAR(255) NOT NULL,
    "description" VARCHAR(255),
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "banquet_image_pkey" PRIMARY KEY ("image_id")
);

-- CreateTable
CREATE TABLE "customer" (
    "customer_id" SERIAL NOT NULL,
    "first_name" VARCHAR(50) NOT NULL,
    "last_name" VARCHAR(50) NOT NULL,
    "phone" VARCHAR(20) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "customer_pkey" PRIMARY KEY ("customer_id")
);

-- CreateTable
CREATE TABLE "room_type" (
    "room_type_id" SERIAL NOT NULL,
    "type_name" VARCHAR(50) NOT NULL,
    "type_name_en" VARCHAR(100),
    "description" TEXT,
    "slug" VARCHAR(100) NOT NULL,
    "amenities" JSONB,
    "created_at" TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "room_type_pkey" PRIMARY KEY ("room_type_id")
);

-- CreateTable
CREATE TABLE "room" (
    "room_id" SERIAL NOT NULL,
    "room_number" VARCHAR(25) NOT NULL,
    "room_type_id" INTEGER NOT NULL,
    "capacity" INTEGER NOT NULL,
    "price" DECIMAL(10,2) NOT NULL,
    "status" "room_status" DEFAULT 'available',
    "description" TEXT,
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "room_pkey" PRIMARY KEY ("room_id")
);

-- CreateTable
CREATE TABLE "room_image" (
    "image_id" SERIAL NOT NULL,
    "room_id" INTEGER NOT NULL,
    "image_url" VARCHAR(255) NOT NULL,
    "description" VARCHAR(255),
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "room_image_pkey" PRIMARY KEY ("image_id")
);

-- CreateTable
CREATE TABLE "reservation_room" (
    "reservation_id" SERIAL NOT NULL,
    "customer_id" INTEGER NOT NULL,
    "room_id" INTEGER NOT NULL,
    "checkin_date" DATE NOT NULL,
    "checkout_date" DATE NOT NULL,
    "status" "reservation_room_status" DEFAULT 'pending',
    "expires_at" TIMESTAMP(0),
    "reservation_code" VARCHAR(20) NOT NULL,
    "contact_name" TEXT,
    "contact_email" TEXT,
    "contact_phone" TEXT,
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "payment_due_at" TIMESTAMP(3),
    "pay_account_snapshot" JSONB,

    CONSTRAINT "reservation_room_pkey" PRIMARY KEY ("reservation_id")
);

-- CreateTable
CREATE TABLE "reservation_banquet" (
    "reservation_id" SERIAL NOT NULL,
    "customer_id" INTEGER NOT NULL,
    "banquet_id" INTEGER NOT NULL,
    "event_date" DATE NOT NULL,
    "start_time" TIME(0) NOT NULL,
    "end_time" TIME(0) NOT NULL,
    "status" "reservation_banquet_status" DEFAULT 'pending',
    "expires_at" TIMESTAMP(0),
    "reservation_code" VARCHAR(20) NOT NULL,
    "contact_name" TEXT,
    "contact_email" TEXT,
    "contact_phone" TEXT,
    "created_at" TIMESTAMP(0) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "payment_due_at" TIMESTAMP(3),
    "pay_account_snapshot" JSONB,

    CONSTRAINT "reservation_banquet_pkey" PRIMARY KEY ("reservation_id")
);

-- CreateTable
CREATE TABLE "payment_room" (
    "payment_id" SERIAL NOT NULL,
    "reservation_id" INTEGER NOT NULL,
    "method" "payment_room_payment_method" NOT NULL DEFAULT 'bank_transfer',
    "amount" DECIMAL(10,2) NOT NULL,
    "payment_status" "payment_room_payment_status" NOT NULL DEFAULT 'pending',
    "slip_url" TEXT,
    "payer_name" TEXT,
    "payer_bank" TEXT,
    "transfer_time" TIMESTAMP(3),
    "transfer_ref" TEXT,
    "paid_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "gateway_provider" TEXT,
    "gateway_txn_id" TEXT,
    "gateway_raw" JSONB,

    CONSTRAINT "payment_room_pkey" PRIMARY KEY ("payment_id")
);

-- CreateTable
CREATE TABLE "payment_banquet" (
    "payment_id" SERIAL NOT NULL,
    "reservation_id" INTEGER NOT NULL,
    "method" "payment_banquet_payment_method" NOT NULL DEFAULT 'bank_transfer',
    "amount" DECIMAL(10,2) NOT NULL,
    "payment_status" "payment_banquet_payment_status" NOT NULL DEFAULT 'pending',
    "slip_url" TEXT,
    "payer_name" TEXT,
    "payer_bank" TEXT,
    "transfer_time" TIMESTAMP(3),
    "transfer_ref" TEXT,
    "paid_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "gateway_provider" TEXT,
    "gateway_txn_id" TEXT,
    "gateway_raw" JSONB,

    CONSTRAINT "payment_banquet_pkey" PRIMARY KEY ("payment_id")
);

-- CreateIndex
CREATE INDEX "bank_account_is_active_is_default_idx" ON "bank_account"("is_active", "is_default");

-- CreateIndex
CREATE UNIQUE INDEX "bank_account_account_number_key" ON "bank_account"("account_number");

-- CreateIndex
CREATE UNIQUE INDEX "username" ON "admin"("username");

-- CreateIndex
CREATE INDEX "banquet_image_banquet_id" ON "banquet_image"("banquet_id");

-- CreateIndex
CREATE UNIQUE INDEX "customer_phone_key" ON "customer"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "customer_email_key" ON "customer"("email");

-- CreateIndex
CREATE INDEX "idx_customer_phone" ON "customer"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "room_type_slug_key" ON "room_type"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "room_number" ON "room"("room_number");

-- CreateIndex
CREATE INDEX "room_type_id" ON "room"("room_type_id");

-- CreateIndex
CREATE INDEX "room_image_room_id" ON "room_image"("room_id");

-- CreateIndex
CREATE UNIQUE INDEX "reservation_room_reservation_code_key" ON "reservation_room"("reservation_code");

-- CreateIndex
CREATE INDEX "res_room_customer_id" ON "reservation_room"("customer_id");

-- CreateIndex
CREATE INDEX "idx_res_room_status" ON "reservation_room"("status");

-- CreateIndex
CREATE INDEX "idx_room_dates" ON "reservation_room"("room_id", "checkin_date", "checkout_date");

-- CreateIndex
CREATE INDEX "res_room_room_id" ON "reservation_room"("room_id");

-- CreateIndex
CREATE UNIQUE INDEX "reservation_banquet_reservation_code_key" ON "reservation_banquet"("reservation_code");

-- CreateIndex
CREATE INDEX "res_banquet_banquet_id" ON "reservation_banquet"("banquet_id");

-- CreateIndex
CREATE INDEX "res_banquet_customer_id" ON "reservation_banquet"("customer_id");

-- CreateIndex
CREATE INDEX "idx_banquet_datetime" ON "reservation_banquet"("banquet_id", "event_date", "start_time", "end_time");

-- CreateIndex
CREATE INDEX "idx_res_banquet_status" ON "reservation_banquet"("status");

-- CreateIndex
CREATE INDEX "payment_room_reservation_id_payment_status_idx" ON "payment_room"("reservation_id", "payment_status");

-- CreateIndex
CREATE INDEX "payment_banquet_reservation_id_payment_status_idx" ON "payment_banquet"("reservation_id", "payment_status");

-- AddForeignKey
ALTER TABLE "banquet_image" ADD CONSTRAINT "banquet_image_ibfk_1" FOREIGN KEY ("banquet_id") REFERENCES "banquet_room"("banquet_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "room" ADD CONSTRAINT "room_ibfk_1" FOREIGN KEY ("room_type_id") REFERENCES "room_type"("room_type_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "room_image" ADD CONSTRAINT "room_image_ibfk_1" FOREIGN KEY ("room_id") REFERENCES "room"("room_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservation_room" ADD CONSTRAINT "reservation_room_ibfk_1" FOREIGN KEY ("customer_id") REFERENCES "customer"("customer_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservation_room" ADD CONSTRAINT "reservation_room_ibfk_2" FOREIGN KEY ("room_id") REFERENCES "room"("room_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservation_banquet" ADD CONSTRAINT "reservation_banquet_ibfk_1" FOREIGN KEY ("customer_id") REFERENCES "customer"("customer_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reservation_banquet" ADD CONSTRAINT "reservation_banquet_ibfk_2" FOREIGN KEY ("banquet_id") REFERENCES "banquet_room"("banquet_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payment_room" ADD CONSTRAINT "payment_room_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "reservation_room"("reservation_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_banquet" ADD CONSTRAINT "payment_banquet_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "reservation_banquet"("reservation_id") ON DELETE CASCADE ON UPDATE CASCADE;

